

@media (max-width: 350px){
	.block {
		width: 16px;
		height: 16px;
		float: left;
	}
}
@media (min-width: 350px) and (max-width: 500px){
	.block {
		width: 20px;
		height: 20px;
		float: left;
	}
}
@media (min-width: 500px) and (max-width: 640px){
	.block {
		width: 20px;
		height: 20px;
		float: left;
	}
}
@media (min-width: 640px) {
	.block {
		width: 35px;
		height: 35px;
		float: left;
	}
}

.block {
	background-color: #1d1d19;
}
.marked {
	background-color: #fdd;
}
.bait{
	background-color: #2f8e2f;
}
