@media (min-width: 500px) {
	.block {
		width: 40px;
		height: 40px;
		float: left;
		border:1px solid;
	}
}
@media (min-width: 350px) and (max-width: 500px){
	.block {
		width: 20px;
		height: 20px;
		float: left;
		border:1px solid;
	}
}
@media (min-width: 500px) and (max-width: 640px){
	.block {
		width: 20px;
		height: 20px;
		float: left;
		border:1px solid;
	}
}
@media (min-width: 640px) and (max-width: 680px){
	.block {
		width: 35px;
		height: 35px;
		float: left;
		border:1px solid;
	}
}
@media (min-width: 680px) and (max-width: 1000px){
	.block {
		width: 40px;
		height: 40px;
		float: left;
		border:1px solid;
	}
}